ExifRead==2.3.1
Flask-SQLAlchemy==2.4.4
Flask==1.1.2
HTMLParser==0.0.2
PIL==1.1.6
Pillow==9.0.1
PyAudio==0.2.11
PyAutoGUI==0.9.50
PyPDF2==1.27.5
SpeechRecognition==3.8.1
beautifulsoup4==4.9.1
certifi==2020.6.20
chardet==3.0.4
chromedriver-binary==85.0.4183.38.0
click==7.1.2
cycler==0.10.0
dnspython==2.0.0
emoji==0.6.0
ffmpeg==1.4
ffpyplayer==4.3.1
gTTS==2.1.1
gensim==3.8.3
geopy==2.0.0
googletrans==3.0.0
idna==2.10
img2pdf==0.4.0
jupyterlab==2.2.10
kiwisolver==1.2.0
lxml==4.6.5
matplotlib==3.3.0
model==0.6.0
newspaper==0.1.0.7
nltk==3.5
notebook==6.4.10
numpy==1.19.1
opencv-python==4.3.0.36
pandas==1.0.5
pathlib==1.0.1
proxytest==0.5.4
psutil==5.7.2
py-notifier==0.1
pycryptodome==3.9.8
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
requests==2.23.0
selenium==3.141.0
six==1.15.0
soupsieve==2.0.1
sumeval==0.2.2
sumy==0.8.1
tensorflow==2.6.4
tqdm==4.48.2
tweepy==3.9.0
urllib3==1.26.5
utils==1.0.1
webdriver-manager==3.2.2
wget==3.2
wikipedia==1.4.0
win10toast==0.9
wordcloud==1.8.0
xmltodict==0.12.0
