ExifRead==2.3.1
Flask-SQLAlchemy==2.4.4
Flask==1.1.2
HTMLParser==0.0.2
PIL==1.1.6
PyAutoGUI==0.9.50
PyPDF2==1.26.0
SpeechRecognition==3.8.1
chromedriver-binary==85.0.4183.38.0
click==7.1.2
ffmpeg==1.4
gTTS==2.1.1
gensim==3.8.3
geopy==2.0.0
googletrans==3.0.0
lxml==4.5.2
model==0.6.0
newspaper==0.1.0.7
nltk==3.5
numpy==1.19.1
opencv-python==4.3.0.36
pandas==1.1.0
proxytest==0.5.4
psutil==5.7.2
pycryptodome==3.9.8
pynotifier==0.1
selenium==3.141.0
sumeval==0.2.2
sumy==0.8.1
tensorflow==2.3.0
tqdm==4.48.2
tweepy==3.9.0
utils==1.0.1
wget==3.2
win10toast==0.9
xmltodict==0.12.0