certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.4
Flask==2.1.2
Flask-MySQL==1.5.2
gunicorn==20.1.0
idna==3.3
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
mysql==0.0.3
mysql-connector-python-rf==2.2.2
mysqlclient==2.1.0
psycopg2==2.9.3
PyMySQL==1.0.2
pyshorteners==1.0.1
requests==2.27.1
urllib3==1.26.9
Werkzeug==2.1.2
