/* Required for browsers w/o shadow DOM support */
iframe[src*="buttons.github.io"] {
    margin: 0;
}

.markdown-section strong code {
    font-weight: normal;
    

}
.markdown-section{
max-width:100%;
}

/* Theme Toggles */
label[data-class-target="label + .docsify-tabs"] {
    margin-right: 0.8em;
}

.sidebar-toggle{
Display:none;
}
.sidebar{
Display:none;
}
/* Custom Styles */
/* ========================================================================== */
/* Icon Only */
.docsify-tabs__tab[data-tab="icon only"] {
    letter-spacing: -100vw;
    color: transparent;
}
.docsify-tabs__tab[data-tab="icon only"]:before {
    content: url(https://icongr.am/feather/image.svg?size=18&color=999999);
    vertical-align: middle;
}

/* Icon + Label */
[data-tab="icon + label"]:before {
    content: url(https://icongr.am/feather/image.svg?size=18&color=999999);
    height: 16px;
    margin-right: 0.5em;
    vertical-align: middle;
}

/* Active State */
.docsify-tabs__tab--active[data-tab="active state"] {
    box-shadow: none;
    background: #13547a;
    color: white;
}
.docsify-tabs__content[data-tab-content="active state"] {
    background-image: linear-gradient(0deg, #80d0c7 0%, #13547a 100%);
}
.docsify-tabs__content[data-tab-content="active state"] p strong {
    color: white;
}

/* CodePen */
[data-tab-content="codepen"] .cp_embed_wrapper {
    position: relative;
    top: calc(0px - var(--docsifytabs-content-padding));
    left: calc(0px - var(--docsifytabs-content-padding));
    width: calc(100% + calc(var(--docsifytabs-content-padding) * 2));
    margin-bottom: calc(0px - var(--docsifytabs-content-padding));
}

/* Badge */
[data-tab="badge"]:after {
    content: 'New!';
    position: absolute;
    top: 0;
    right: 0;
    min-height: 1em;
    min-width: 1em;
    padding: 0.325em 0.5em 0.3em 0.5em;
    border-radius: 3px;
    background: red;
    color: #fff;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 11px;
    line-height: 1;
    transform: translate(35%, -45%);
}
